@{
    ViewData["Title"] = "Confirm Delete Product";
}




<div class="text-center>">
    <h3 class="text-center"> do you really want delete this product?</h3>
</div>

<a class="btn btn-secondary btn-block" role="button"> Cancel</a>
<a class="btn btn-danger btn-block" role="button"> Confirm</a>